@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "variable";

@mixin color-gradient($val1, $val2) {
  background: linear-gradient(to right, $val1, $val2);
}

@mixin font-color($font, $color) {
  font-size: $font;
  color: $color;
}

.button-extend {
  text-transform: uppercase;
  border: none;
  outline: none;
  font-family: $font;
  text-align: center;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button {
  display: inline-block;
  padding: 20px 6px;
  font-size: 24px;
  font-weight: 700;
  background-color: #374151;
  @extend .button-extend;
}

.text-gradient {
  @include color-gradient($pink-color, $purple-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $pink-color;
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
