@import "variable";

body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
  font-weight: 400;
  background-color: #374151;
}

.wrapper {
  background-color: #374151;
  height: 100%;
  width: 100vw;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.app {
  &-heading {
    @include font-color(40px, $headings-color);
    font-weight: 400;
  }
  &-inputField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
  }
  &-inputbox {
    @include font-color(20px, #eeeeee);
    background-color: #1f2937;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    flex: 1 1 0%;
  }
}

.menu {
  margin-top: 20px;

  &-heading {
    @include font-color(24px, #ffffff);
    font-weight: 700;
  }
  &-list {
    margin-top: 16px;
    max-height: 400px;
    overflow-y: auto;
  }
  &-item {
    list-style: none;
    margin-bottom: 10px;
    background-color: #111827;
    border-radius: 16px;
    padding: 32px 15px;
    cursor: default;
    right: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    // &:hover {
    //   .item-edit {
    //     display: block;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     opacity: 1;
    //     gap: 0 20px;
    //     margin-right: 1%;
    //     animation: fadeIn 0.5s linear;
    //     transform: translateX(0);
    //   }
    //   .item-content {
    //     width: 80%;
    //   }
    // }
  }
}

.item {
  &-content {
    width: 80%;
    @include font-color(26px, #fff);
    border-radius: 1.25rem;
    background-color: #111827;
    line-height: 36px;
    padding: 0 10px;
    border: none;
    position: absolute;
    cursor: pointer;
  }
  &-edit {
    position: absolute;
    width: 15%;
    display: flex;
    justify-content: space-around;
    right: 0;
    // margin-right: 5%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.5s linear;
    cursor: pointer;
  }
  &-edit-task {
    font-size: 24px;
    background-color: #111827;
    @extend .button-extend;
  }
  &-check-task {
    @include font-color(24px, $text-check);
    background-color: #111827;
    @extend .button-extend;
  }
  &-delete-task {
    @include font-color(24px, $delete-color);
    background-color: #111827;
    @extend .button-extend;
    text-align: center;
  }
  &-done-task {
    font-size: 24px;
    background-color: #111827;
    @extend .button-extend;
  }
}

.footer {
  display: flex;
  align-items: center;
  button {
    color: $delete-color;
  }
}

.show-task {
  display: block;
  animation: fadeIn 0.5s linear;
}

.hide-task {
  display: none;
  animation: fadeOut 0.5s linear;
}

.hover {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  gap: 0 20px;
  margin-right: 20px;
  animation: fadeIn 0.5s linear;
  transform: translateX(0);
}
